.cityInfo {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;

  h2 {
    font-size: 2em;
    color: rgb(255, 255, 255);
    display: block;
    font-weight: 600;
    text-align: left;
    padding: 5px 0px;
    margin-top: 3rem;
  }

  h4 {
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    display: block;
    font-weight: 400;
    text-align: left;
    padding: 5px 0px;
  }
}
