.fieldInput {
  display: block;
  margin: 10px auto;
  width: 98%;
  height: 25px;
  position: relative;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.09);
  border: none;
  border-radius: 35px;
  overflow: hidden;
  background: white;

  .input {
    background: white;
    border: none;
    color: #375274;
    width: 80%;
    font-size: 20px;
    &:focus {
      outline: none;
    }
  }
  .submit {
    font-size: 14px;
    color: #375274;
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 40px;
    border-radius: 17px;
    border: none;
    background: none;
    box-shadow: 5px -2px 81px 1px rgba(0, 0, 0, 0.09);
    cursor: pointer;
  }
}
