.cityForecast {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  position: relative;

  border-bottom: 1.5px solid rgba(196, 166, 243, 0.8);
  align-self: flex-start;
  color: white;
  // box-shadow: 1px 1px 1px 1px rgb(147, 146, 146);
  padding: 0rem 0rem;
  margin-bottom: 1rem;
}
